<!doctype html>
<html lang="en">
	<body>
		{% include "partial/head.html.twig" %}
		{% include "partial/navigation.html.twig" %}
		<div class="card mb-5">
			<div class="container my-3" style="color:#f7a49e">
				<h1 class="card-title">{{place.place_name}}</h1>
			</div>
			<div class="container">
				<img src="place_images/{{place.picture}}" class="card-img-top" alt="...">
				<div class="card-body" style="color:#5e6472">
					<p class="card-text">Address:
						{{place.place_address}}</p>
					<p class="card-text">Phone:
						{{place.place_phone_number}}</p>
					<p class="card-text">Description:
						{{place.place_description}}</p>
				</div>
			</div>
		</div>

		</div>
		{% if user_id and reviewed == false %}
			<div class="container mb-5">
				<form id="review" method="post" action="place_details.php?id={{place.place_id}}">
					<h4 class="my-4">Write a review</h4>
					<label class="form-label" for="review-title">Title</label>
					<input class="form-control" name="title" id="review-title">
					<label class="form-label mt-3" for="review-text">Content</label>
					<textarea class="form-control" rows="3" cols="20" name="text" id="review-text"></textarea>
					{# hidden form fields #}
					<input type="hidden" value="{{place.id}}" name="place_id">
					<input type="hidden" value="{{user_id}}" name="user_id">
					<button type="submit" class="btn text-light mt-5" style="background: #f7a59e">SUBMIT REVIEW</button>
				</form>
			</div>
		{% endif %}

		{% if submitting == true and success == true %}
			<div class="alert alert-success alert-dismissible fade show">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% elseif submitting == true and success == false %}
			<div class="alert alert-danger alert-dismissible fade show">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}

		<div class="container mb-5">
			<div class="col-md-12">
				{% set review_count = reviews | length %}
				<hr/>
				<br/>
				<h4 class="mb-5">Reviews for this place
					<span class="badge badge-pill bg-info">{{review_count}}</span>
				</h4>
				{% for review in reviews %}
				<div class="container">
					<div class="row d-flex p-3" style="color: #5f6573; background: #bde4de; border-radius: 5px 5px 0px 0px; padding: 0.5rem;">
						<p class="h5 p-2">{{review.review_title}}</p>
					</div>
					<div class="row" style="color: #5f6573; background: white; border-radius: 0px 0px 5px 5px; border: 1px solid #bde4de; padding: 0.5rem;">
						<p>{{review.review_description}}</p>
						<footer class="blockquote-footer">Author: {{email}}</footer>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html></div>{% include "partial/script.html.twig" %}{% include "partial/footer.html.twig" %}</body></html></div>{% include "partial/script.html.twig" %}</body></html>