<!doctype html>
<html lang="en">
{% include "partial/head.html.twig" %}
		<body>

			<h1>Welcome to Hobbination!</h1>

			<div class="container">
				<div class="row">
					{% for place in places.items %}
						<div class="col-sm-4">
							<div class="card" style="width: 18rem;">
								<img src="place_images/{{place.picture}}" class="card-img-top place-image" alt="place images for {{place.place_name}}">
								<div class="card-body">
									<h5 class="card-title">{{place.place_name}}</h5>
									<p class="card-text">address:
										{{place.place_address}}</p>
									<p class="card-text">Phone:
										{{place.place_phone_number}}</p>
									<a href="place_details.php?id={{place.place_id}}" class="btn btn-primary">GO DETAILS</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<p>{{places.total}}</p>


		{% include "partial/script.html.twig" %}
		</body>
	</head>
</html>
